.visual {
  background: url(../images/bg-visual.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

/* cell */

.cell {
  display: table-cell;
  vertical-align: middle;
  width: 1%;
  height: calc(100vh - 72px);
  position: relative;
  padding-bottom: 51px;
}

/* power */

.visual-text {
  color: $clr_white;
  max-width: 790px;
  font: 18px/22px 'Montserrat',sans-serif;
  h1 {
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 35px;
    font-weight: 700;
  }
  p {
    margin: 0 0 45px;
    color: $clr_white;
    line-height: 32px;
    max-width: 630px;
  }
}

/* project-btn */

.project-btn {
  background: $clr_white;
  color: $clr_gray;
  font-size: 16px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  padding: 15px 34px;
  border-radius: 4px;
  &:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: $clr_blue;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: -1;
    border-radius: 4px;
  }
  &:hover {
    &:after {
      height: 100%;
      background: $clr_blue;
      z-index: 1;
    }
    text-decoration: none;
    color: #fff;
    span {
      color: $clr_white;
      position: relative;
      z-index: 2;
    }
  }
}



/* our-services */
.our-services {
  padding: 150px 0;
  background: $clr_white;
  .heading {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 60px;
    padding: 0 40px;
    h2{
      color: $clr_blue;
      margin-bottom: 15px;
    }
  }
}


.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -15px;
  list-style: none;
  .services-item {
    padding: 0 15px;
    text-align: center;
    line-height: 28px;
    font-weight: 300;
    h3{
      font: 18px/22px 'Montserrat', sans-serif;
      color: $clr_blue;
      position: relative;
      font-weight: 700;
      padding-bottom: 25px;
      margin-bottom: 25px;
      &:after {
        position: absolute;
        content: '';
        width: 64px;
        height: 4px;
        left: 50%;
        transform: translateX(-50%);
        background: rgb(84,161,251);
        background: -moz-linear-gradient(left, rgba(84,161,251,1) 0%, rgba(180,236,80,1) 100%);
        background: -webkit-linear-gradient(left, rgba(84,161,251,1) 0%,rgba(180,236,80,1) 100%);
        background: linear-gradient(to right, rgba(84,161,251,1) 0%,rgba(180,236,80,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54a1fb', endColorstr='#b4ec50',GradientType=1 );
        bottom: 0;

      }
    }
  }
}
/* end-our-services */

.how-it-works {
  padding: 150px 0;
  background: $clr_blue;
  overflow: hidden;
  .heading {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 34px;
    margin-bottom: 60px;
    padding: 0 40px;
    h2{
      color: $clr_white;
      margin-bottom: 15px;
    }
    p {
      letter-spacing: 0;
    }
  }
}






/* how-it-works */
.how-it-works-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -40px;
  list-style: none;
  overflow: hidden;
  .how-it-works-item {
    padding: 0 40px;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
    position: relative;
    h3{
      font: 18px/22px 'Montserrat', sans-serif;
      color: $clr_white;
      font-weight: 700;
      margin-bottom: 10px;
    }
    p {
      letter-spacing: 0;
    }
    .img {
      max-width: 100px;
      margin: 0 auto 20px;
      img {
        width: 100%;
      }
    }
    &+.how-it-works-item {
      &:before{
        height: 92px;
        width: 30px;
        background: url(../images/Arrow.svg) no-repeat;
        position: absolute;
        content: '';
        left: 0;
        top: 15px;
      }
    }
  }
}

/* end-how-it-works */


/* need-help */
.need-help {
  padding: 120px 0;
  background: url(../images/help-us.jpg) no-repeat;
  text-align: center;
  background-size: cover;
  background-position: 100% 0;
  h2 {
    margin-bottom: 38px;
    color: $clr_white;
  }
  .text-box {
    max-width: 550px;
    margin: 0 auto 45px;
    font-size: 20px;
    line-height: 30px;
    p{
      color: $clr_white;
    }
    
  }
}
/* end-need-help */

/* team-slider */
.team {
  padding-top: 30px;
  position: relative;
  .team-item {
    display: table;
    .img {
      display: table-cell;
      vertical-align: middle;
      width: 500px;
      img {
        display: inline-block;
        vertical-align: bottom;
      }
    }
    .slide-text {
      display: table-cell;
      vertical-align: middle;
      font-size: 24px;
      line-height: 40px;
      letter-spacing: 0;
      padding-left: 50px;
      p {
        margin-bottom: 40px;
      }
      .name {
        font-weight: 700;
        line-height: 24px;
        display: block;
        margin-bottom: 8px;
      }
      .position {
        font-size: 20px;
        line-height: 24px;
        display: block;
      }
    }
  }
  .swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 50px;
    background: #000;
    background: url(../images/Arrow.svg) no-repeat;
    height: 80px;
  }
  .swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(-180deg);
    left: 50px;
    background: url(../images/Arrow.svg) no-repeat;
    height: 80px;
  }
}

/* end-team-slider */

/* contact-us */
.contact-us {
  padding: 150px 0 50px;
  background: $clr_white;
  h2{
    color: $clr_blue;
    margin-bottom: 70px;
  }
  .address-box {
    margin-bottom: 40px;
    line-height: 35px;
    max-width: 350px;
    strong {
      font-size: 18px;
      font-weight: 700;
      display: block;
      color: $clr_blue;
    }
    span {
      display: block;
    }
    p {
      color: $clr_gray;
    }
  }
}
/* end-contact-us */
@media only screen and (max-width: 1380px) {
  .team {
    .swiper-container {
      max-width: 1024px;
      margin: 0 auto;
    }
    .team-item {
      .img{
        width: 400px;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .team {
    .swiper-container {
      max-width: 1024px;
      margin: 0 auto;
    }
    .swiper-button-prev {
      left: 15px;
    }
    .swiper-button-next {
      right: 15px;
    }
    .team-item {
      .img{
        width: 300px;
      }
    }
  }
}


@media only screen and (max-width: 1070px) {
  .team {
    .swiper-button-prev {
      display: none;
    }
    .swiper-button-next {
      display: none;
    }
    .team-item {
      .slide-text {
        font-size: 20px;
        line-height: 30px;
        padding-left: 20px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .visual-text {
    h1 {
      font-size: 48px;
      line-height: 54px;
    }
  }

  .services-list {
    flex-wrap: wrap;
    justify-content: center;
    .services-item {
      width: 50%;
      margin-bottom: 35px;
    }
  }

  .how-it-works-list {
    margin: 0 -20px;
    .how-it-works-item {
      padding: 0 20px;
    }
  }
}

@media only screen and (max-width: 767px) { 
  h2 {
    font-size: 48px;
    line-height: 60px;
  }
  .visual-text {
    h1 {
      font-size: 32px;
      line-height: 40px;
    }
  }
  
  .our-services {
    padding: 100px 0;
    .heading {
      padding: 0;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .services-list {
    .services-item {
      width: 51%;
      margin-bottom: 35px;
    }
  }

  .how-it-works {
    padding: 100px 0;
  }

  .how-it-works-list {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    .how-it-works-item {
      width: 50%;
      margin-bottom: 35px;
      &+.how-it-works-item {
        &:before{
          display: none;
        }
      }
    }
  }

  .team {
    padding-bottom: 30px;
    .team-item {
      .img{
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
      }
      .slide-text {
        display: block;
        text-align: center;
      }
    }
  }
}


@media only screen and (max-width: 580px) {
  body {
    font-size: 16px;
  }
  
  h2 {
    font-size: 36px;
    line-height: 48px;
  }
  
  .visual-text {
    text-align: center;
  }


  .services-list {
    .services-item {
      width: 100%;
      margin-bottom: 35px;
    }
  }

  .how-it-works-list {
    max-width: 360px;
    margin: 0 auto;
    .how-it-works-item {
      width: 100%;
      padding: 0;
    }
  }
  .team {
    .team-item {
      .img{
        width: 200px;
      }
    }
  }
}